* {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
}
body,
html {
	height: 100%;
	padding: 0;
	margin: 0;
}

.bg {
	background-image: url('../images/pattern-bg.png');
	height: 15vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	margin: 0;
	padding: 10px;
	padding-top: 30px;
}
h3 {
	margin: 0;
	padding: 5px;
	font-size: large;
	font-family: 'Rubik', sans-serif;
}
p {
	margin: 0;
	padding: 5px;
	font-size: small;
	font-family: 'Rubik', sans-serif;
}

.my-input {
	width: 25%;
	max-width: 25%;
	padding: auto;
}
.title {
	color: white;
}
.form-control {
	border-radius: 10px;
}
.btn {
	background-color: hsl(0, 0%, 17%);
	border-radius: 10px;
	width: 50px;
}
.results {
	margin-top: 30px;
	background-color: white;
	width: 80%;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	height: 12vh;
}
.my-input {
	width: auto;
	max-width: 500px;
	padding: auto;
	position: relative;
	height: 50px;
}
#map {
	height: 80vh;
	z-index: 0;
}
.itemFlex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.col {
	border-right: 1.5px solid rgba(191, 191, 191, 0.5);
}
.footer {
	height: auto;
}
.container {
	padding: 0;
}
/* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) {
	.my-input {
		width: auto;
		max-width: 350px;
		padding: auto;
	}
	.itemFlex {
		flex-direction: column;
	}
	.bg {
		height: 30vh;
	}
	#map {
		height: 70vh;
	}
	.results {
		height: auto;
	}
}
@media only screen and (min-width: 600px) {
}
